flows_spaceautomation.json
[{"id":"e77e9a6d.722a1","type":"tab","label":"Screen Dashboard","disabled":false,"info":""},{"id":"70a77a02.cfdab4","type":"tab","label":"Physical Things","disabled":false,"info":""},{"id":"c1028702.b7b02","type":"tab","label":"Individual Lights","disabled":false,"info":""},{"id":"9d395387.693388","type":"tab","label":"QR Code & Clock","disabled":false,"info":""},{"id":"a923a46c.738308","type":"tab","label":"Tradfri Gateway","disabled":false,"info":""},{"id":"361a93e5.ae777c","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"ff94771c.1d3cc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9bd6cde.b63323","type":"subflow","name":"Tradfri color","info":"","category":"","in":[{"x":0,"y":1020,"wires":[{"id":"83b6e36.e1beba"}]}],"out":[{"x":600,"y":1080,"wires":[{"id":"71e7f395.1f5c14","port":0}]}]},{"id":"901a1c1f.8892","type":"mqtt-broker","z":"","name":"mosquitto on the pi","broker":"192.168.1.32","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"aed764bf.c3ded","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#476366","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#476366","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#476366","edited":true},"page-titlebar-backgroundColor":{"value":"#476366","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#668f93","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#476366","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"12f416e7.b75ee1","type":"ui_tab","z":"","name":"THIS IS NOT A TOUCHSCREEN!  Scan to push the buttons on your phone ------------>","icon":"dashboard","order":2},{"id":"a8c2e5d5.d2de68","type":"ui_group","z":"","name":"AC North (Vending Side)","tab":"12f416e7.b75ee1","order":3,"disp":true,"width":"6","collapse":false},{"id":"77e10427.d8fdf4","type":"ui_group","z":"","name":"AC South (Dragon Side)","tab":"12f416e7.b75ee1","order":2,"disp":true,"width":"6","collapse":false},{"id":"4c46fc8a.d9820c","type":"ui_group","z":"","name":"musicbin","tab":"12f416e7.b75ee1","order":1,"disp":true,"width":"6","collapse":false},{"id":"abb15e44.503bf8","type":"ui_group","z":"","name":"Lights","tab":"12f416e7.b75ee1","order":4,"disp":true,"width":"6","collapse":false},{"id":"62c88fc2.b63cf","type":"ui_group","z":"","name":"Default","tab":"dcb630a0.f6f368","order":1,"disp":false,"width":"24","collapse":false},{"id":"dcb630a0.f6f368","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3},{"id":"30939ab.fa7e7e6","type":"ui_group","z":"","name":"Default","tab":"32b5004a.12da08","order":1,"disp":false,"width":"24","collapse":false},{"id":"32b5004a.12da08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":4},{"id":"3e7c2413.588234","type":"ui_group","z":"","name":"Default","tab":"d31e4b64.67cdb","order":1,"disp":false,"width":"24","collapse":false},{"id":"d31e4b64.67cdb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":5},{"id":"15193be8.dc6e7c","type":"ui_group","z":"","name":"Default","tab":"3c9a1b52.871fdc","order":1,"disp":false,"width":"24","collapse":false},{"id":"3c9a1b52.871fdc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":6},{"id":"6cd966b7.c37628","type":"ui_group","z":"","name":"Default","tab":"b62d5e30.cdb168","order":1,"disp":false,"width":"24","collapse":false},{"id":"b62d5e30.cdb168","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":7},{"id":"f4249a83.61d5e8","type":"tradfri-config","z":"","name":"tradfri-gateway","hubip":"192.168.1.148","sid":"AkCkLbM2B3ZAdhjB","coap":"/home/pi/.node-red/node_modules/node-tradfri-argon/lib/coap-client-raspbian","identity":"kmIkccP0jPgxd","preshared_key":"l4r66KPg4kv1Xacu"},{"id":"fa1e2028.ab81","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a12e28c9.7d753","type":"mpd-server","z":"","host":"musicbin.local","port":"6600"},{"id":"4b2117b2.969ef8","type":"ui_gauge","z":"e77e9a6d.722a1","name":"temp north","group":"77e10427.d8fdf4","order":4,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":330,"y":240,"wires":[]},{"id":"d4349915.8b16f8","type":"mqtt in","z":"e77e9a6d.722a1","name":"AC_south temp","topic":"/5ccf7f006806/sensor/temperature","qos":"2","broker":"901a1c1f.8892","x":140,"y":80,"wires":[["bdd960ee.5bfc88","59ee4698.b0ea18"]]},{"id":"c50e53fe.913268","type":"mqtt in","z":"e77e9a6d.722a1","name":"AC_south humidity","topic":"/5ccf7f006806/sensor/humidity","qos":"2","broker":"901a1c1f.8892","x":130,"y":140,"wires":[["bddcc317.08371"]]},{"id":"80fcd2bc.e14558","type":"mqtt in","z":"e77e9a6d.722a1","name":"AC_north temp","topic":"/5ccf7f0068df/sensor/temperature","qos":"2","broker":"901a1c1f.8892","x":140,"y":260,"wires":[["4b2117b2.969ef8","5231c137.e4e48"]]},{"id":"bdd960ee.5bfc88","type":"ui_gauge","z":"e77e9a6d.722a1","name":"temp south","group":"a8c2e5d5.d2de68","order":4,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":350,"y":60,"wires":[]},{"id":"8c98a6bf.bbe52","type":"ui_chart","z":"e77e9a6d.722a1","name":"temp north","group":"77e10427.d8fdf4","order":5,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"40","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":280,"wires":[[],[]]},{"id":"26249935.1b81b6","type":"ui_chart","z":"e77e9a6d.722a1","name":"temp south","group":"a8c2e5d5.d2de68","order":5,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"40","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":100,"wires":[[],[]]},{"id":"8966e5cb.19154","type":"mqtt in","z":"e77e9a6d.722a1","name":"AC north humidity","topic":"/5ccf7f0068df/sensor/humidity","qos":"2","broker":"901a1c1f.8892","x":130,"y":320,"wires":[["9fdb2cf7.cefac"]]},{"id":"b9e1d7d5.b39bb","type":"ui_button","z":"e77e9a6d.722a1","name":"AC south heat button","group":"77e10427.d8fdf4","order":1,"width":0,"height":0,"passthru":false,"label":"BRING THE HEAT","color":"","bgcolor":"","icon":"","payload":"HEAT","payloadType":"str","topic":"/5ccf7f006806/aircon/status","x":140,"y":460,"wires":[["91687579.3c35d8"]]},{"id":"dd74701c.33b4a8","type":"ui_button","z":"e77e9a6d.722a1","name":"AC south off button","group":"77e10427.d8fdf4","order":2,"width":0,"height":0,"passthru":false,"label":"off","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"/5ccf7f006806/aircon/status","x":150,"y":500,"wires":[["91687579.3c35d8"]]},{"id":"2e48feb1.ed559a","type":"ui_button","z":"e77e9a6d.722a1","name":"AC south cool button","group":"77e10427.d8fdf4","order":3,"width":0,"height":0,"passthru":false,"label":"cool","color":"","bgcolor":"","icon":"","payload":"COOL","payloadType":"str","topic":"/5ccf7f006806/aircon/status","x":140,"y":540,"wires":[["91687579.3c35d8"]]},{"id":"91687579.3c35d8","type":"mqtt out","z":"e77e9a6d.722a1","name":"mosquitto on the pi","topic":"","qos":"","retain":"","broker":"901a1c1f.8892","x":790,"y":580,"wires":[]},{"id":"123b12c4.ba3b45","type":"ui_button","z":"e77e9a6d.722a1","name":"AC north heat button","group":"a8c2e5d5.d2de68","order":1,"width":0,"height":0,"passthru":false,"label":"BRING THE HEAT","color":"","bgcolor":"","icon":"","payload":"HEAT","payloadType":"str","topic":"/5ccf7f0068df/aircon/status","x":140,"y":640,"wires":[["91687579.3c35d8"]]},{"id":"928a7d21.76383","type":"ui_button","z":"e77e9a6d.722a1","name":"AC north off button","group":"a8c2e5d5.d2de68","order":2,"width":0,"height":0,"passthru":false,"label":"off","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"/5ccf7f0068df/aircon/status","x":150,"y":680,"wires":[["91687579.3c35d8"]]},{"id":"2e50570.cb126aa","type":"ui_button","z":"e77e9a6d.722a1","name":"AC north cool button","group":"a8c2e5d5.d2de68","order":3,"width":0,"height":0,"passthru":false,"label":"cool","color":"","bgcolor":"","icon":"","payload":"COOL","payloadType":"str","topic":"/5ccf7f0068df/aircon/status","x":140,"y":720,"wires":[["91687579.3c35d8"]]},{"id":"1cb2733c.2a180d","type":"ui_chart","z":"e77e9a6d.722a1","name":"humidity south","group":"a8c2e5d5.d2de68","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"100","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":540,"y":140,"wires":[[],[]]},{"id":"b0e2c227.cb0858","type":"ui_chart","z":"e77e9a6d.722a1","name":"humidity north","group":"77e10427.d8fdf4","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"100","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":540,"y":320,"wires":[[],[]]},{"id":"bddcc317.08371","type":"delay","z":"e77e9a6d.722a1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":140,"wires":[["1cb2733c.2a180d"]]},{"id":"59ee4698.b0ea18","type":"delay","z":"e77e9a6d.722a1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":100,"wires":[["26249935.1b81b6"]]},{"id":"5231c137.e4e48","type":"delay","z":"e77e9a6d.722a1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":280,"wires":[["8c98a6bf.bbe52"]]},{"id":"9fdb2cf7.cefac","type":"delay","z":"e77e9a6d.722a1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":320,"wires":[["b0e2c227.cb0858"]]},{"id":"541a2a5d.1f7e5c","type":"comment","z":"e77e9a6d.722a1","name":"Dragon Side Data","info":"","x":110,"y":40,"wires":[]},{"id":"e7f3cb37.20e1c8","type":"comment","z":"e77e9a6d.722a1","name":"Vending Side Data","info":"","x":110,"y":220,"wires":[]},{"id":"8445b3a1.4281b8","type":"comment","z":"e77e9a6d.722a1","name":"Dragon Side Buttons","info":"","x":140,"y":420,"wires":[]},{"id":"fd820f47.73152","type":"comment","z":"e77e9a6d.722a1","name":"Vending Side Buttons","info":"","x":140,"y":600,"wires":[]},{"id":"bd386a.2a237798","type":"ui_button","z":"e77e9a6d.722a1","name":"lights all on","group":"abb15e44.503bf8","order":1,"width":0,"height":0,"passthru":false,"label":"All ON","color":"white","bgcolor":"","icon":"wb_incandescent","payload":"ON","payloadType":"str","topic":"","x":110,"y":940,"wires":[["cd1fec49.c25cb","f816afa4.d4bc7","211a292d.e5573e","99df2ab.6f65c58"]]},{"id":"f98598a6.432d88","type":"ui_button","z":"e77e9a6d.722a1","name":"lights all off","group":"abb15e44.503bf8","order":2,"width":0,"height":0,"passthru":false,"label":"All OFF","color":"black","bgcolor":"","icon":"wb_incandescent","payload":"OFF","payloadType":"str","topic":"","x":110,"y":880,"wires":[["d64819ed.8a8b78","f816afa4.d4bc7","211a292d.e5573e","bdbf01df.fe0a18","5b81579b.a74a6"]]},{"id":"aa24bb5f.11c9f","type":"inject","z":"c1028702.b7b02","name":"dmx1 dragon light on","topic":"/5ccf7f0e35b1/dmx1/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":80,"wires":[[]]},{"id":"1c2a5b50.98df6d","type":"inject","z":"c1028702.b7b02","name":"dmx1 dragon light off","topic":"/5ccf7f0e35b1/dmx1/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":120,"wires":[[]]},{"id":"42b43853.f82b68","type":"inject","z":"c1028702.b7b02","name":"dmx2 table light on","topic":"/5ccf7f0e35b1/dmx2/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":160,"wires":[[]]},{"id":"78305c46.a3d52c","type":"inject","z":"c1028702.b7b02","name":"dmx2 table light off","topic":"/5ccf7f0e35b1/dmx2/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":200,"wires":[[]]},{"id":"e45ed0c.a2b6fb","type":"inject","z":"c1028702.b7b02","name":"dmx3 center light on","topic":"/5ccf7f0e35b1/dmx3/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":240,"wires":[[]]},{"id":"663b4a77.900954","type":"inject","z":"c1028702.b7b02","name":"dmx3 center light off","topic":"/5ccf7f0e35b1/dmx3/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":280,"wires":[[]]},{"id":"dd98a6bc.39107","type":"inject","z":"c1028702.b7b02","name":"dmx4 kitchen light on","topic":"/5ccf7f0e35b1/dmx4/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":320,"wires":[[]]},{"id":"d65227ff.a68a1","type":"inject","z":"c1028702.b7b02","name":"dmx4 kitchen light off","topic":"/5ccf7f0e35b1/dmx4/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":360,"wires":[[]]},{"id":"2366b709.4625a8","type":"inject","z":"c1028702.b7b02","name":"dm5 on","topic":"/5ccf7f0e35b1/dmx5/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":400,"wires":[[]]},{"id":"5e6d9e05.8de17","type":"inject","z":"c1028702.b7b02","name":"dmx5 off","topic":"/5ccf7f0e35b1/dmx5/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":440,"wires":[[]]},{"id":"b7496208.ed47d","type":"inject","z":"c1028702.b7b02","name":"dm6 library light on","topic":"/5ccf7f0e35b1/dmx6/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":480,"wires":[[]]},{"id":"57f67da.65aff84","type":"inject","z":"c1028702.b7b02","name":"dmx6 library light off","topic":"/5ccf7f0e35b1/dmx6/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":520,"wires":[[]]},{"id":"49298dbe.52996c","type":"inject","z":"c1028702.b7b02","name":"dm7 cubesville light on","topic":"/5ccf7f0e35b1/dmx7/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":560,"wires":[[]]},{"id":"4522df24.0c9b6","type":"inject","z":"c1028702.b7b02","name":"dmx7 cubesville light off","topic":"/5ccf7f0e35b1/dmx7/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1090,"y":600,"wires":[[]]},{"id":"bb3e2cf.cbedad","type":"inject","z":"c1028702.b7b02","name":"dm8 on","topic":"/5ccf7f0e35b1/dmx8/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":640,"wires":[[]]},{"id":"776c1609.e8a0e","type":"inject","z":"c1028702.b7b02","name":"dmx8 off","topic":"/5ccf7f0e35b1/dmx8/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":680,"wires":[[]]},{"id":"3c2148d.39b10b8","type":"comment","z":"c1028702.b7b02","name":"These are for testing","info":"","x":1050,"y":40,"wires":[]},{"id":"b0c6be94.a24278","type":"ui_switch","z":"c1028702.b7b02","name":"center lights","label":"center lights","group":"abb15e44.503bf8","order":9,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"/5ccf7f0e35b1/dmx3/command","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":350,"y":540,"wires":[["8a0e1113.80a6f"]]},{"id":"8a0e1113.80a6f","type":"mqtt out","z":"c1028702.b7b02","name":"mosquitto on the pi","topic":"","qos":"","retain":"","broker":"901a1c1f.8892","x":650,"y":400,"wires":[]},{"id":"e92f9827.9cc528","type":"mqtt in","z":"c1028702.b7b02","name":"dmx3 center state","topic":"/5ccf7f0e35b1/dmx3/state","qos":"2","broker":"901a1c1f.8892","x":170,"y":540,"wires":[["b0c6be94.a24278"]]},{"id":"b12e031d.983cf","type":"ui_switch","z":"c1028702.b7b02","name":"dragon light","label":"dragon light","group":"abb15e44.503bf8","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"/5ccf7f0e35b1/dmx1/command","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":350,"y":340,"wires":[["8a0e1113.80a6f"]]},{"id":"f1df89a5.024a9","type":"mqtt in","z":"c1028702.b7b02","name":"dmx1 dragon state","topic":"/5ccf7f0e35b1/dmx1/state","qos":"2","broker":"901a1c1f.8892","x":170,"y":340,"wires":[["b12e031d.983cf"]]},{"id":"b007e8f9.bca718","type":"ui_switch","z":"c1028702.b7b02","name":"table lights","label":"table lights","group":"abb15e44.503bf8","order":7,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"/5ccf7f0e35b1/dmx2/command","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":350,"y":440,"wires":[["8a0e1113.80a6f"]]},{"id":"3328eabe.713216","type":"mqtt in","z":"c1028702.b7b02","name":"dmx2 table light state","topic":"/5ccf7f0e35b1/dmx2/state","qos":"2","broker":"901a1c1f.8892","x":160,"y":440,"wires":[["b007e8f9.bca718"]]},{"id":"221ffb0.ef90c86","type":"ui_switch","z":"c1028702.b7b02","name":"cubesville light","label":"cubesville light","group":"abb15e44.503bf8","order":13,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"/5ccf7f0e35b1/dmx7/command","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":360,"y":800,"wires":[["8a0e1113.80a6f"]]},{"id":"2f030a09.142626","type":"mqtt in","z":"c1028702.b7b02","name":"dmx7 cubesville light state","topic":"/5ccf7f0e35b1/dmx7/state","qos":"2","broker":"901a1c1f.8892","x":150,"y":800,"wires":[["221ffb0.ef90c86"]]},{"id":"574045e.778d33c","type":"ui_switch","z":"c1028702.b7b02","name":"kitchen","label":"kitchen area","group":"abb15e44.503bf8","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"/5ccf7f0e35b1/dmx4/command","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":340,"y":640,"wires":[["8a0e1113.80a6f"]]},{"id":"d35fc13e.5cddc","type":"mqtt in","z":"c1028702.b7b02","name":"dmx4 kitchen state","topic":"/5ccf7f0e35b1/dmx4/state","qos":"2","broker":"901a1c1f.8892","x":170,"y":640,"wires":[["574045e.778d33c"]]},{"id":"9df8706a.b2b1f8","type":"ui_switch","z":"c1028702.b7b02","name":"library light","label":"library light","group":"abb15e44.503bf8","order":15,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"/5ccf7f0e35b1/dmx6/command","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":350,"y":720,"wires":[["8a0e1113.80a6f"]]},{"id":"711e186a.7fade8","type":"mqtt in","z":"c1028702.b7b02","name":"dmx6 library light state","topic":"/5ccf7f0e35b1/dmx6/state","qos":"2","broker":"901a1c1f.8892","x":160,"y":720,"wires":[["9df8706a.b2b1f8"]]},{"id":"ff9ef355.df008","type":"ui_slider","z":"c1028702.b7b02","name":"dragon dimmer","label":"","group":"abb15e44.503bf8","order":12,"width":0,"height":0,"passthru":false,"outs":"all","topic":"/5ccf7f0e35b1/dmx1/brightness","min":0,"max":"255","step":1,"x":360,"y":380,"wires":[["8a0e1113.80a6f"]]},{"id":"49ad6ce9.509dbc","type":"mqtt in","z":"c1028702.b7b02","name":"dmx1 dragon br state","topic":"/5ccf7f0e35b1/dmx1/brightness_state","qos":"2","broker":"901a1c1f.8892","x":160,"y":380,"wires":[["ff9ef355.df008"]]},{"id":"433acc2a.e8eabc","type":"ui_slider","z":"c1028702.b7b02","name":"table lights dimmer","label":"","group":"abb15e44.503bf8","order":8,"width":0,"height":0,"passthru":false,"outs":"all","topic":"/5ccf7f0e35b1/dmx2/brightness","min":0,"max":"255","step":1,"x":370,"y":480,"wires":[["8a0e1113.80a6f"]]},{"id":"7d42beb.9d617c","type":"ui_slider","z":"c1028702.b7b02","name":"center lights dimmer","label":"","group":"abb15e44.503bf8","order":10,"width":0,"height":0,"passthru":false,"outs":"all","topic":"/5ccf7f0e35b1/dmx3/brightness","min":0,"max":"255","step":1,"x":380,"y":580,"wires":[["8a0e1113.80a6f"]]},{"id":"79cee605.0d8ef","type":"ui_slider","z":"c1028702.b7b02","name":"kitchen dimmer","label":"","group":"abb15e44.503bf8","order":6,"width":0,"height":0,"passthru":false,"outs":"all","topic":"/5ccf7f0e35b1/dmx4/brightness","min":0,"max":"255","step":1,"x":360,"y":680,"wires":[["8a0e1113.80a6f"]]},{"id":"4e1e9f60.b9c8b8","type":"ui_slider","z":"c1028702.b7b02","name":"library dimmer","label":"","group":"abb15e44.503bf8","order":16,"width":0,"height":0,"passthru":false,"outs":"all","topic":"/5ccf7f0e35b1/dmx6/brightness","min":0,"max":"255","step":1,"x":360,"y":760,"wires":[["8a0e1113.80a6f"]]},{"id":"ce3d68b4.7720f8","type":"ui_slider","z":"c1028702.b7b02","name":"cubesville dimmer","label":"","group":"abb15e44.503bf8","order":14,"width":0,"height":0,"passthru":false,"outs":"all","topic":"/5ccf7f0e35b1/dmx7/brightness","min":0,"max":"255","step":1,"x":370,"y":840,"wires":[["8a0e1113.80a6f"]]},{"id":"74a8845.f43a57c","type":"mqtt in","z":"c1028702.b7b02","name":"dmx2 table light br state","topic":"/5ccf7f0e35b1/dmx2/brightness_state","qos":"2","broker":"901a1c1f.8892","x":150,"y":480,"wires":[["433acc2a.e8eabc"]]},{"id":"3f4da20c.e9d0e6","type":"mqtt in","z":"c1028702.b7b02","name":"dmx3 center br state","topic":"/5ccf7f0e35b1/dmx3/brightness_state","qos":"2","broker":"901a1c1f.8892","x":170,"y":580,"wires":[["7d42beb.9d617c"]]},{"id":"32de25a2.05602a","type":"mqtt in","z":"c1028702.b7b02","name":"dmx4 kitchen br state","topic":"/5ccf7f0e35b1/dmx4/brightness_state","qos":"2","broker":"901a1c1f.8892","x":160,"y":680,"wires":[["79cee605.0d8ef"]]},{"id":"4fe48d5.b52d6f4","type":"mqtt in","z":"c1028702.b7b02","name":"dmx6 library light br state","topic":"/5ccf7f0e35b1/dmx6/brightness_state","qos":"2","broker":"901a1c1f.8892","x":150,"y":760,"wires":[["4e1e9f60.b9c8b8"]]},{"id":"a818e005.550c18","type":"mqtt in","z":"c1028702.b7b02","name":"dmx7 cubesville light br state","topic":"/5ccf7f0e35b1/dmx7/brightness_state","qos":"2","broker":"901a1c1f.8892","x":140,"y":840,"wires":[["ce3d68b4.7720f8"]]},{"id":"adb71415.f349a8","type":"file in","z":"9d395387.693388","name":"Picture Selector","filename":"/home/pi/test.jpeg","format":"","sendError":true,"x":840,"y":260,"wires":[["b57a2a1f.4954f"]]},{"id":"6d58b39f.0468bc","type":"function","z":"9d395387.693388","name":"","func":"msg.filename=\"/home/pi/Schreibtisch/regen.jpeg\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["adb71415.f349a8"]]},{"id":"8f12c652.e2dab","type":"inject","z":"9d395387.693388","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":510,"y":200,"wires":[["6d58b39f.0468bc","f11a1d55.a1d418"]]},{"id":"f11a1d55.a1d418","type":"function","z":"9d395387.693388","name":"Adding File Name","func":"msg.payload=Number(msg.payload)\nif(msg.payload===0){\n msg.filename=\"/home/pi/test.jpeg\";\n return msg;\n}\nreturn msg.filename;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[[]]},{"id":"5972d294.631ddc","type":"http in","z":"9d395387.693388","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":500,"y":260,"wires":[["6d58b39f.0468bc"]]},{"id":"4277dcd3.ad49dc","type":"http response","z":"9d395387.693388","name":"","statusCode":"","headers":{},"x":1290,"y":260,"wires":[]},{"id":"b57a2a1f.4954f","type":"function","z":"9d395387.693388","name":"Set Content-Type header","func":"msg.headers = { \"Content-Type\":\"image/jpeg\"};\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":260,"wires":[["4277dcd3.ad49dc"]]},{"id":"9cf4afce.a7f93","type":"ui_template","z":"9d395387.693388","group":"6cd966b7.c37628","name":"QR Code / Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n var clockInterval;\n $(function () {\n if (clockInterval) return;\n\n //add logo\n var div1 = $('<div/>');\n var logo = new Image();\n\n logo.src = '/dashboard_QRcode.gif'\n logo.height = 60;\n div1[0].style.margin = '1px auto';\n\n div1.append(logo);\n\n //add clock\n var div2 = $('<div/>');\n var p = $('<p/>');\n\n div2.append(p);\n div2[0].style.margin = '5px';\n\n function displayTime() {\n p.text(new Date().toLocaleString());\n }\n \n clockInterval = setInterval(displayTime, 1000);\n\n //add to toolbar when it's available\n var addToToolbarTimer;\n \n function addToToolbar() {\n var toolbar = $('.md-toolbar-tools');\n \n if(!toolbar.length) return;\n \n toolbar.append(div1);\n toolbar.append(div2);\n clearInterval(addToToolbarTimer);\n }\n addToToolbarTimer = setInterval(addToToolbar, 100);\n });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":550,"y":120,"wires":[[]]},{"id":"686b88df.23d23","type":"comment","z":"a923a46c.738308","name":"Copy and paste components to use in other flows.","info":"","x":230,"y":60,"wires":[]},{"id":"24277826.09e3e","type":"tradfri-get","z":"a923a46c.738308","name":"","hub":"f4249a83.61d5e8","x":140,"y":120,"wires":[["d1669aa8.5be798","9e6e8836.40fa4","e4aace27.2ddea","86065b8a.8ee57"]]},{"id":"d1669aa8.5be798","type":"tradfri-out","z":"a923a46c.738308","name":"SolderLamp","dtype":"device","tradfri_id":"65539","hub":"f4249a83.61d5e8","output":false,"x":340,"y":120,"wires":[]},{"id":"9e6e8836.40fa4","type":"tradfri-out","z":"a923a46c.738308","name":"CraftLamp","dtype":"device","tradfri_id":"65538","hub":"f4249a83.61d5e8","output":false,"x":350,"y":160,"wires":[]},{"id":"bdbf01df.fe0a18","type":"tradfri-out","z":"e77e9a6d.722a1","name":"SolderLamp","dtype":"device","tradfri_id":"65539","hub":"f4249a83.61d5e8","output":false,"x":870,"y":1000,"wires":[]},{"id":"5b81579b.a74a6","type":"tradfri-out","z":"e77e9a6d.722a1","name":"CraftLamp","dtype":"device","tradfri_id":"65538","hub":"f4249a83.61d5e8","output":false,"x":870,"y":1040,"wires":[]},{"id":"cd1fec49.c25cb","type":"function","z":"e77e9a6d.722a1","name":"8 dmx channels ON","func":"// /5ccf7f0e35b1/dmx4/brightness_state 255\nvar newMsgs = [];\nfor (id = 0; id < 8; id++) {\n    var topicString = \"/5ccf7f0e35b1/dmx\" + (id+1) + \"/command\";\n    newMsgs[id] = { topic: topicString, payload: \"ON\" };\n}\nreturn [newMsgs];","outputs":1,"noerr":0,"x":560,"y":800,"wires":[["91687579.3c35d8"]]},{"id":"800a2beb.9637c8","type":"function","z":"e77e9a6d.722a1","name":"8 dmx channels OFF","func":"// /5ccf7f0e35b1/dmx4/brightness_state 255\nvar newMsgs = [];\nfor (id = 0; id < 8; id++) {\n    var topicString = \"/5ccf7f0e35b1/dmx\" + (id+1) + \"/command\";\n    newMsgs[id] = { topic: topicString, payload: \"OFF\" };\n}\nreturn [newMsgs];","outputs":1,"noerr":0,"x":560,"y":760,"wires":[["91687579.3c35d8"]]},{"id":"d64819ed.8a8b78","type":"function","z":"e77e9a6d.722a1","name":"lights OFF","func":"if (msg.payload == \"OFF\")\n    return msg;","outputs":1,"noerr":0,"x":370,"y":760,"wires":[["800a2beb.9637c8"]]},{"id":"e4aace27.2ddea","type":"tradfri-out","z":"a923a46c.738308","name":"Outlet1","dtype":"device","tradfri_id":"65540","hub":"f4249a83.61d5e8","output":false,"x":340,"y":280,"wires":[]},{"id":"86065b8a.8ee57","type":"tradfri-out","z":"a923a46c.738308","name":"Outlet2","dtype":"device","tradfri_id":"65542","hub":"f4249a83.61d5e8","output":false,"x":340,"y":320,"wires":[]},{"id":"f816afa4.d4bc7","type":"tradfri-out","z":"e77e9a6d.722a1","name":"Outlet1","dtype":"device","tradfri_id":"65540","hub":"f4249a83.61d5e8","output":false,"x":600,"y":840,"wires":[]},{"id":"211a292d.e5573e","type":"tradfri-out","z":"e77e9a6d.722a1","name":"Outlet2","dtype":"device","tradfri_id":"65542","hub":"f4249a83.61d5e8","output":false,"x":600,"y":880,"wires":[]},{"id":"b0a07485.8540c","type":"moment","z":"9bd6cde.b63323","name":"make it an object","topic":"","input":"","inputType":"msg","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"en_US","output":"","outputType":"msg","outTz":"America/New_York","x":330,"y":1020,"wires":[["71e7f395.1f5c14"]]},{"id":"83b6e36.e1beba","type":"exec","z":"9bd6cde.b63323","command":"date","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get date/time","x":150,"y":1020,"wires":[["b0a07485.8540c"],[],[]]},{"id":"71e7f395.1f5c14","type":"function","z":"9bd6cde.b63323","name":"choose Tradfri settings","func":"// extract only the hour\nvar current_hr = msg.payload.hours;\n\n// Set the light color based on the hour\n// Morning is 05:00 - 15:00 (cool light)\n// Afternoon is 15:00 - 21:00 (neutral light)\n// Evening is 21:00 - 05:00 (warm light)\n\nif (current_hr > 4 && current_hr < 15) {\n    // morning settings\n    var new_color = \"cool\";\n} else if (current_hr > 20 && current_hr < 5) {\n    // evening settings\n    var new_color = \"warm\";\n} else {\n    // afternoon and default settings\n    var new_color = \"normal\";\n}\n\n// Format the message object for Tradfri bulbs\nvar new_msg = {\"payload\": {\n    \"state\": \"on\",\n    \"brightness\": \"255\",\n    \"color\": new_color\n}};\nreturn new_msg;","outputs":1,"noerr":0,"x":420,"y":1080,"wires":[[]]},{"id":"ee5916f1.8fbcd8","type":"comment","z":"9bd6cde.b63323","name":"for Tradfri bulbs choose white spectrum color by time of day","info":"","x":280,"y":1120,"wires":[]},{"id":"9ba285bd.ffa53","type":"tradfri-out","z":"c1028702.b7b02","name":"SolderLamp","dtype":"device","tradfri_id":"65539","hub":"f4249a83.61d5e8","output":false,"x":730,"y":80,"wires":[]},{"id":"6acf29b8.5db6","type":"tradfri-out","z":"c1028702.b7b02","name":"CraftLamp","dtype":"device","tradfri_id":"65538","hub":"f4249a83.61d5e8","output":false,"x":730,"y":200,"wires":[]},{"id":"f25f872c.febad","type":"function","z":"e77e9a6d.722a1","name":"set SolderLamp","func":"global.solderLamp = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1060,"wires":[["bdbf01df.fe0a18"]]},{"id":"d821cd3a.68edc8","type":"function","z":"e77e9a6d.722a1","name":"set CraftLamp","func":"global.craftLamp = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1100,"wires":[["5b81579b.a74a6"]]},{"id":"c5ca6bb4.e38358","type":"ui_switch","z":"c1028702.b7b02","name":"solder lamp","label":"solder lamp","group":"abb15e44.503bf8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":210,"y":80,"wires":[["cbf68edb.6d7e08"]]},{"id":"add2a3c2.d7a4b8","type":"link in","z":"c1028702.b7b02","name":"SolderLamp switch receiver","links":["5453a48e.bf468c","a82f591b.9766","b38dfb24.510ae8"],"x":75,"y":80,"wires":[["c5ca6bb4.e38358"]]},{"id":"55032c52.85a834","type":"ui_switch","z":"c1028702.b7b02","name":"craft lamp","label":"craft lamp","group":"abb15e44.503bf8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":200,"y":120,"wires":[["3a3b9bdc.411e5c"]]},{"id":"8742001.412e5","type":"link in","z":"c1028702.b7b02","name":"CraftLamp switch receiver","links":["c89e1b52.2ff068","96788678.dc31d8","119cb425.a9c19c"],"x":75,"y":120,"wires":[["55032c52.85a834"]]},{"id":"80db4ac3.433098","type":"mqtt out","z":"70a77a02.cfdab4","name":"mosquitto on the pi","topic":"","qos":"","retain":"","broker":"901a1c1f.8892","x":790,"y":80,"wires":[]},{"id":"703d9c48.3c9e14","type":"function","z":"70a77a02.cfdab4","name":"8 dmx channels OFF","func":"// /5ccf7f0e35b1/dmx4/brightness_state 255\nvar newMsgs = [];\nfor (id = 0; id < 8; id++) {\n    var topicString = \"/5ccf7f0e35b1/dmx\" + (id+1) + \"/command\";\n    newMsgs[id] = { topic: topicString, payload: \"OFF\" };\n}\nreturn [newMsgs];","outputs":1,"noerr":0,"x":580,"y":160,"wires":[["80db4ac3.433098"]]},{"id":"51d1f7b1.336e","type":"mqtt in","z":"70a77a02.cfdab4","name":"big red button","topic":"/18fe34d40b4d/bigred/command","qos":"2","broker":"901a1c1f.8892","x":110,"y":140,"wires":[["c621ae5a.a5807","e1cfd7a8.dfc0e8","e44bffe2.442d7"]]},{"id":"c621ae5a.a5807","type":"function","z":"70a77a02.cfdab4","name":"lights OFF","func":"if (msg.payload == \"OFF\")\n    return msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["703d9c48.3c9e14","c14431fb.15c048","242142fc.1bc1ae","119cb425.a9c19c","b38dfb24.510ae8","e4008ede.18cb9","a147addd.667448"]]},{"id":"e1cfd7a8.dfc0e8","type":"function","z":"70a77a02.cfdab4","name":"south AC off","func":"if (msg.payload == \"OFF\") {\n   var newMsg = { topic: \"/5ccf7f006806/aircon/status\", payload: \"OFF\"};\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["80db4ac3.433098"]]},{"id":"e44bffe2.442d7","type":"function","z":"70a77a02.cfdab4","name":"north AC off","func":"if (msg.payload == \"OFF\") {\n   var newMsg = { topic: \"/5ccf7f0068df/aircon/status\", payload: \"OFF\"};\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["80db4ac3.433098"]]},{"id":"e4008ede.18cb9","type":"tradfri-out","z":"70a77a02.cfdab4","name":"SolderLamp","dtype":"device","tradfri_id":"65539","hub":"f4249a83.61d5e8","output":false,"x":630,"y":280,"wires":[]},{"id":"a147addd.667448","type":"tradfri-out","z":"70a77a02.cfdab4","name":"CraftLamp","dtype":"device","tradfri_id":"65538","hub":"f4249a83.61d5e8","output":false,"x":630,"y":320,"wires":[]},{"id":"466f93f1.79c4c4","type":"comment","z":"70a77a02.cfdab4","name":"All Off Button","info":"","x":110,"y":100,"wires":[]},{"id":"c14431fb.15c048","type":"tradfri-out","z":"70a77a02.cfdab4","name":"Outlet1","dtype":"device","tradfri_id":"65540","hub":"f4249a83.61d5e8","output":false,"x":540,"y":400,"wires":[]},{"id":"242142fc.1bc1ae","type":"tradfri-out","z":"70a77a02.cfdab4","name":"Outlet2","dtype":"device","tradfri_id":"65541","hub":"f4249a83.61d5e8","output":false,"x":540,"y":440,"wires":[]},{"id":"b38dfb24.510ae8","type":"link out","z":"70a77a02.cfdab4","name":"Red Button solder update","links":["add2a3c2.d7a4b8"],"x":575,"y":200,"wires":[]},{"id":"119cb425.a9c19c","type":"link out","z":"70a77a02.cfdab4","name":"Red Button craft update","links":["8742001.412e5"],"x":575,"y":240,"wires":[]},{"id":"cbf68edb.6d7e08","type":"switch","z":"c1028702.b7b02","name":"On or off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":80,"wires":[["5b4df27a.bddd4c"],["9ba285bd.ffa53"]],"outputLabels":["on","off"]},{"id":"99df2ab.6f65c58","type":"subflow:9bd6cde.b63323","z":"e77e9a6d.722a1","name":"","x":350,"y":1040,"wires":[["f25f872c.febad","d821cd3a.68edc8"]]},{"id":"5b4df27a.bddd4c","type":"subflow:9bd6cde.b63323","z":"c1028702.b7b02","name":"","x":550,"y":40,"wires":[["9ba285bd.ffa53"]]},{"id":"f34495f7.65c538","type":"subflow:9bd6cde.b63323","z":"c1028702.b7b02","name":"","x":570,"y":120,"wires":[["6acf29b8.5db6"]]},{"id":"3a3b9bdc.411e5c","type":"switch","z":"c1028702.b7b02","name":"On or off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":120,"wires":[["f34495f7.65c538"],["6acf29b8.5db6"]],"outputLabels":["on","off"]},{"id":"d8b12998.0d7f08","type":"mpd in","z":"ff94771c.1d3cc","name":"","topic":"","server":"a12e28c9.7d753","x":150,"y":240,"wires":[["da40bcfb.2786a8"]]},{"id":"841e9062.0cf278","type":"ui_text","z":"ff94771c.1d3cc","group":"4c46fc8a.d9820c","order":0,"width":0,"height":0,"name":"","label":"now playing","format":"{{msg.currentsong.Artist}} - {{msg.currentsong.Title}}","layout":"col-center","x":610,"y":180,"wires":[]},{"id":"da40bcfb.2786a8","type":"function","z":"ff94771c.1d3cc","name":"songTracker","func":"const { currentsong } = msg.payload\n\nconst lastsong =  context.get('lastsong') || {\n    Title: '',\n    Artist: ''\n}\n\nconst songs = { lastsong, currentsong }\n\nsetTimeout(() => context.set('lastsong', currentsong),\n5000)\n\nreturn songs","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["841e9062.0cf278","5954bc8f.2bd974"]]},{"id":"5954bc8f.2bd974","type":"ui_text","z":"ff94771c.1d3cc","group":"4c46fc8a.d9820c","order":0,"width":0,"height":0,"name":"","label":"last song","format":"{{msg.lastsong.Artist}} - {{msg.lastsong.Title}}","layout":"col-center","x":580,"y":240,"wires":[]},{"id":"fdad12c5.8a5d68","type":"debug","z":"361a93e5.ae777c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":240,"wires":[]},{"id":"615a782.134c008","type":"mqtt in","z":"361a93e5.ae777c","name":"Hello World","topic":"/hello/world","qos":"2","broker":"fa1e2028.ab81","x":110,"y":240,"wires":[["fdad12c5.8a5d68"]]},{"id":"2ccaf4df.533364","type":"mqtt out","z":"361a93e5.ae777c","name":"publish something","topic":"","qos":"","retain":"","broker":"fa1e2028.ab81","x":450,"y":40,"wires":[]},{"id":"66db91b4.583068","type":"play audio","z":"361a93e5.ae777c","name":"","voice":"","x":170,"y":100,"wires":[]},{"id":"bd8af194.2ed878","type":"debug","z":"361a93e5.ae777c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":160,"y":160,"wires":[]},{"id":"321c1326.0bd6ec","type":"inject","z":"361a93e5.ae777c","name":"message for /voicecube/announce","topic":"/voicecube/announce","payload":"chimichanga","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":40,"wires":[["2ccaf4df.533364"]]},{"id":"d0208bd2.ace588","type":"debug","z":"361a93e5.ae777c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":580,"wires":[]},{"id":"52797aa3.32dad4","type":"mqtt in","z":"361a93e5.ae777c","name":"Stereo Status Watcher","topic":"/18fe34d46123/stereo/status/test","qos":"2","broker":"fa1e2028.ab81","x":160,"y":580,"wires":[["d0208bd2.ace588"]]},{"id":"8a0aa411.1c1e08","type":"mqtt out","z":"361a93e5.ae777c","name":"Publish to stereo","topic":"","qos":"","retain":"","broker":"fa1e2028.ab81","x":370,"y":520,"wires":[]},{"id":"3996864d.ca5b2a","type":"inject","z":"361a93e5.ae777c","name":"stereo off","topic":"/18fe34d46123/stereo/status","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["8a0aa411.1c1e08"]]},{"id":"c0b52a89.1681d8","type":"inject","z":"361a93e5.ae777c","name":"stereo down","topic":"/18fe34d46123/stereo/status","payload":"DOWN","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["8a0aa411.1c1e08"]]},{"id":"64efb66c.344568","type":"inject","z":"361a93e5.ae777c","name":"stereo up","topic":"/18fe34d46123/stereo/status","payload":"UP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["8a0aa411.1c1e08"]]},{"id":"4ab52f5a.d544f","type":"mqtt in","z":"361a93e5.ae777c","name":"voicecube receive","topic":"/voicecube/receive","qos":"2","broker":"fa1e2028.ab81","x":130,"y":300,"wires":[["4d4ab224.f2a7ac"]]},{"id":"4d4ab224.f2a7ac","type":"debug","z":"361a93e5.ae777c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":300,"wires":[]}]