flows_raspberrypi.json
[{"id":"e77e9a6d.722a1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"901a1c1f.8892","type":"mqtt-broker","z":"","name":"mosquitto on the pi","broker":"192.168.1.32","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"aed764bf.c3ded","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#476366","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#476366","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#476366","edited":true},"page-titlebar-backgroundColor":{"value":"#476366","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#668f93","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#476366","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"12f416e7.b75ee1","type":"ui_tab","z":"","name":"THIS IS NOT A TOUCHSCREEN!  Go to http://192.168.1.32:1880/ui on your own laptop to push the buttons","icon":"dashboard"},{"id":"a8c2e5d5.d2de68","type":"ui_group","z":"","name":"AC South (Vending Side)","tab":"12f416e7.b75ee1","order":3,"disp":true,"width":"6","collapse":false},{"id":"77e10427.d8fdf4","type":"ui_group","z":"","name":"AC North (Dragon Side)","tab":"12f416e7.b75ee1","order":2,"disp":true,"width":"6","collapse":false},{"id":"4c46fc8a.d9820c","type":"ui_group","z":"","name":"IoT Class","tab":"12f416e7.b75ee1","order":1,"disp":true,"width":"6","collapse":false},{"id":"abb15e44.503bf8","type":"ui_group","z":"","name":"Lights","tab":"12f416e7.b75ee1","disp":true,"width":"6","collapse":false},{"id":"4b2117b2.969ef8","type":"ui_gauge","z":"e77e9a6d.722a1","name":"temp north","group":"77e10427.d8fdf4","order":4,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":330,"y":240,"wires":[]},{"id":"d4349915.8b16f8","type":"mqtt in","z":"e77e9a6d.722a1","name":"AC_south temp","topic":"/5ccf7f006806/sensor/temperature","qos":"2","broker":"901a1c1f.8892","x":140,"y":80,"wires":[["bdd960ee.5bfc88","59ee4698.b0ea18"]]},{"id":"c50e53fe.913268","type":"mqtt in","z":"e77e9a6d.722a1","name":"AC_south humidity","topic":"/5ccf7f006806/sensor/humidity","qos":"2","broker":"901a1c1f.8892","x":130,"y":140,"wires":[["bddcc317.08371"]]},{"id":"80fcd2bc.e14558","type":"mqtt in","z":"e77e9a6d.722a1","name":"AC_north temp","topic":"/5ccf7f0068df/sensor/temperature","qos":"2","broker":"901a1c1f.8892","x":140,"y":260,"wires":[["4b2117b2.969ef8","5231c137.e4e48"]]},{"id":"bdd960ee.5bfc88","type":"ui_gauge","z":"e77e9a6d.722a1","name":"temp south","group":"a8c2e5d5.d2de68","order":4,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":350,"y":60,"wires":[]},{"id":"8c98a6bf.bbe52","type":"ui_chart","z":"e77e9a6d.722a1","name":"temp north","group":"77e10427.d8fdf4","order":5,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"40","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":280,"wires":[[],[]]},{"id":"26249935.1b81b6","type":"ui_chart","z":"e77e9a6d.722a1","name":"temp south","group":"a8c2e5d5.d2de68","order":5,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"40","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":100,"wires":[[],[]]},{"id":"8966e5cb.19154","type":"mqtt in","z":"e77e9a6d.722a1","name":"AC north humidity","topic":"/5ccf7f0068df/sensor/humidity","qos":"2","broker":"901a1c1f.8892","x":130,"y":320,"wires":[["9fdb2cf7.cefac"]]},{"id":"b9e1d7d5.b39bb","type":"ui_button","z":"e77e9a6d.722a1","name":"AC south heat button","group":"77e10427.d8fdf4","order":1,"width":0,"height":0,"passthru":false,"label":"BRING THE HEAT","color":"","bgcolor":"","icon":"","payload":"HEAT","payloadType":"str","topic":"/5ccf7f006806/aircon/status","x":140,"y":460,"wires":[["91687579.3c35d8"]]},{"id":"dd74701c.33b4a8","type":"ui_button","z":"e77e9a6d.722a1","name":"AC south off button","group":"77e10427.d8fdf4","order":2,"width":0,"height":0,"passthru":false,"label":"off","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"/5ccf7f006806/aircon/status","x":150,"y":500,"wires":[["91687579.3c35d8"]]},{"id":"2e48feb1.ed559a","type":"ui_button","z":"e77e9a6d.722a1","name":"AC south cool button","group":"77e10427.d8fdf4","order":3,"width":0,"height":0,"passthru":false,"label":"cool","color":"","bgcolor":"","icon":"","payload":"COOL","payloadType":"str","topic":"/5ccf7f006806/aircon/status","x":140,"y":540,"wires":[["91687579.3c35d8"]]},{"id":"91687579.3c35d8","type":"mqtt out","z":"e77e9a6d.722a1","name":"mosquitto on the pi","topic":"","qos":"","retain":"","broker":"901a1c1f.8892","x":530,"y":460,"wires":[]},{"id":"123b12c4.ba3b45","type":"ui_button","z":"e77e9a6d.722a1","name":"AC north heat button","group":"a8c2e5d5.d2de68","order":1,"width":0,"height":0,"passthru":false,"label":"BRING THE HEAT","color":"","bgcolor":"","icon":"","payload":"HEAT","payloadType":"str","topic":"/5ccf7f0068df/aircon/status","x":140,"y":640,"wires":[["91687579.3c35d8"]]},{"id":"928a7d21.76383","type":"ui_button","z":"e77e9a6d.722a1","name":"AC north off button","group":"a8c2e5d5.d2de68","order":2,"width":0,"height":0,"passthru":false,"label":"off","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"/5ccf7f0068df/aircon/status","x":150,"y":680,"wires":[["91687579.3c35d8"]]},{"id":"2e50570.cb126aa","type":"ui_button","z":"e77e9a6d.722a1","name":"AC north cool button","group":"a8c2e5d5.d2de68","order":3,"width":0,"height":0,"passthru":false,"label":"cool","color":"","bgcolor":"","icon":"","payload":"COOL","payloadType":"str","topic":"/5ccf7f0068df/aircon/status","x":140,"y":720,"wires":[["91687579.3c35d8"]]},{"id":"1cb2733c.2a180d","type":"ui_chart","z":"e77e9a6d.722a1","name":"humidity south","group":"a8c2e5d5.d2de68","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"100","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":540,"y":140,"wires":[[],[]]},{"id":"b0e2c227.cb0858","type":"ui_chart","z":"e77e9a6d.722a1","name":"humidity north","group":"77e10427.d8fdf4","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"100","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":540,"y":320,"wires":[[],[]]},{"id":"bddcc317.08371","type":"delay","z":"e77e9a6d.722a1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":140,"wires":[["1cb2733c.2a180d"]]},{"id":"59ee4698.b0ea18","type":"delay","z":"e77e9a6d.722a1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":100,"wires":[["26249935.1b81b6"]]},{"id":"5231c137.e4e48","type":"delay","z":"e77e9a6d.722a1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":280,"wires":[["8c98a6bf.bbe52"]]},{"id":"9fdb2cf7.cefac","type":"delay","z":"e77e9a6d.722a1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":320,"wires":[["b0e2c227.cb0858"]]},{"id":"541a2a5d.1f7e5c","type":"comment","z":"e77e9a6d.722a1","name":"Dragon Side Data","info":"","x":110,"y":40,"wires":[]},{"id":"e7f3cb37.20e1c8","type":"comment","z":"e77e9a6d.722a1","name":"Vending Side Data","info":"","x":110,"y":220,"wires":[]},{"id":"8445b3a1.4281b8","type":"comment","z":"e77e9a6d.722a1","name":"Dragon Side Buttons","info":"","x":140,"y":420,"wires":[]},{"id":"fd820f47.73152","type":"comment","z":"e77e9a6d.722a1","name":"Vending Side Buttons","info":"","x":140,"y":600,"wires":[]},{"id":"562da6dd.484db8","type":"inject","z":"e77e9a6d.722a1","name":"dmx1 dragon light on","topic":"/5ccf7f0e35b1/dmx1/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["91687579.3c35d8"]]},{"id":"3a36618f.71aee6","type":"inject","z":"e77e9a6d.722a1","name":"dmx1 dragon light off","topic":"/5ccf7f0e35b1/dmx1/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["91687579.3c35d8"]]},{"id":"31ff48a5.976e48","type":"inject","z":"e77e9a6d.722a1","name":"dmx2 table light on","topic":"/5ccf7f0e35b1/dmx2/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":880,"wires":[["91687579.3c35d8"]]},{"id":"f57b111.4ca477","type":"inject","z":"e77e9a6d.722a1","name":"dmx2 table light off","topic":"/5ccf7f0e35b1/dmx2/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[["91687579.3c35d8"]]},{"id":"98a444b.b8a6738","type":"inject","z":"e77e9a6d.722a1","name":"dmx3 center light on","topic":"/5ccf7f0e35b1/dmx3/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":960,"wires":[["91687579.3c35d8"]]},{"id":"73ea0937.7e86e","type":"inject","z":"e77e9a6d.722a1","name":"dmx3 center light off","topic":"/5ccf7f0e35b1/dmx3/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1000,"wires":[["91687579.3c35d8"]]},{"id":"7f23dfee.2d8318","type":"inject","z":"e77e9a6d.722a1","name":"dmx4 kitchen light on","topic":"/5ccf7f0e35b1/dmx4/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1040,"wires":[["91687579.3c35d8"]]},{"id":"85b068f9.3ab518","type":"inject","z":"e77e9a6d.722a1","name":"dmx4 kitchen light off","topic":"/5ccf7f0e35b1/dmx4/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1080,"wires":[["91687579.3c35d8"]]},{"id":"ea5c55ce.e78758","type":"inject","z":"e77e9a6d.722a1","name":"dm5 on","topic":"/5ccf7f0e35b1/dmx5/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1120,"wires":[["91687579.3c35d8"]]},{"id":"ce267bdc.3542f","type":"inject","z":"e77e9a6d.722a1","name":"dmx5 off","topic":"/5ccf7f0e35b1/dmx5/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1160,"wires":[["91687579.3c35d8"]]},{"id":"80ebd867.01554","type":"inject","z":"e77e9a6d.722a1","name":"dm6 library light on","topic":"/5ccf7f0e35b1/dmx6/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1200,"wires":[["91687579.3c35d8"]]},{"id":"d36156dd.9115c","type":"inject","z":"e77e9a6d.722a1","name":"dmx6 library light off","topic":"/5ccf7f0e35b1/dmx6/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1240,"wires":[["91687579.3c35d8"]]},{"id":"44323bf6.0bfd24","type":"inject","z":"e77e9a6d.722a1","name":"dm7 cubesville light on","topic":"/5ccf7f0e35b1/dmx7/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1280,"wires":[["91687579.3c35d8"]]},{"id":"523c7b37.abf17c","type":"inject","z":"e77e9a6d.722a1","name":"dmx7 cubesville light off","topic":"/5ccf7f0e35b1/dmx7/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1320,"wires":[["91687579.3c35d8"]]},{"id":"11a328ab.c0ef2f","type":"inject","z":"e77e9a6d.722a1","name":"dm8 on","topic":"/5ccf7f0e35b1/dmx8/command","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1360,"wires":[["91687579.3c35d8"]]},{"id":"75ca1d30.bbf4b4","type":"inject","z":"e77e9a6d.722a1","name":"dmx8 off","topic":"/5ccf7f0e35b1/dmx8/command","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1400,"wires":[["91687579.3c35d8"]]},{"id":"bd386a.2a237798","type":"ui_button","z":"e77e9a6d.722a1","name":"lights all on","group":"abb15e44.503bf8","order":0,"width":0,"height":0,"passthru":false,"label":"All ON","color":"","bgcolor":"","icon":"lightbulb-on-outline","payload":"ON","payloadType":"str","topic":"","x":510,"y":560,"wires":[["9c71bcc9.3714f8"]]},{"id":"f98598a6.432d88","type":"ui_button","z":"e77e9a6d.722a1","name":"lights all off","group":"abb15e44.503bf8","order":0,"width":0,"height":0,"passthru":false,"label":"All OFF","color":"","bgcolor":"","icon":"lightbulb","payload":"OFF","payloadType":"str","topic":"","x":510,"y":600,"wires":[["26fa651f.f11cd2"]]},{"id":"9c71bcc9.3714f8","type":"function","z":"e77e9a6d.722a1","name":"8 dmx channels ON","func":"// /5ccf7f0e35b1/dmx4/brightness_state 255\nvar newMsgs = [];\nfor (id = 0; id < 8; id++) {\n    var topicString = \"/5ccf7f0e35b1/dmx\" + (id+1) + \"/command\";\n    newMsgs[id] = { topic: topicString, payload: \"ON\" };\n}\nreturn [newMsgs];","outputs":1,"noerr":0,"x":700,"y":560,"wires":[["91687579.3c35d8"]]},{"id":"26fa651f.f11cd2","type":"function","z":"e77e9a6d.722a1","name":"8 dmx channels OFF","func":"// /5ccf7f0e35b1/dmx4/brightness_state 255\nvar newMsgs = [];\nfor (id = 0; id < 8; id++) {\n    var topicString = \"/5ccf7f0e35b1/dmx\" + (id+1) + \"/command\";\n    newMsgs[id] = { topic: topicString, payload: \"OFF\" };\n}\nreturn [newMsgs];","outputs":1,"noerr":0,"x":700,"y":600,"wires":[["91687579.3c35d8"]]}]